.houseimg{
    width: 250px;
    height: 250px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.containerDis{
    background: #fff;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;

}
.main{
    display: flex;
    background: #fff;
    height: 50vh;

}
.head{
    display: flex;
    width: 60vw;


}
.room{
    width: 30px;
    height: 30px;
    margin: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

h3{
    margin: 10px;
    width: 100%;
}
h4{
    margin: 10px;
}

h2{
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 20px;
     margin-top: 0px;
    width: 100%;
    color: #242424; 
}
.dis h2{
    color: #fff;

}
.discription{
    height: 20vh;

}
.discription h2{
    color: #242424;
}

.dis{
    margin: 20px;
    background-color: #242424;
    border-radius: 20px;
    height: 40%;
    height: 40vh;
    width: 80%;
}
.housesimg{
    display: flex;
    flex-direction: row;
    margin: 0px;   
}
.house{
    display: flex;
    flex-direction: column;
}

.house1  {
    width: 125px;
    height: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.house2{
    width: 125px;
    height: 125px;
}
.house3{
    width: 257px;
    height: 257px;
    margin: 10px;
}
.bookbtn{
    margin: 10px;
    width: 10vw;
    height: 5vh;
    font-size: medium;
    border-radius: 20px;
    background: #242424;
    color: #fff;
    transition: 0.8s;
    cursor: pointer;
    border: solid 1px #fff;
    transition: ease-in 0.5s;
}
.bookbtn:hover{
    background: #fff;
    color: #242424;
}

@media (max-width:800px) {
    
    .main .housesimg{
        display: none;
    }
    .dis{
        margin: 10px;
    }
    .head{
        display: flex;
        align-items: center;
    }
    .houseimg{
        width: 200px;
        height: 200px;
    }
    .discription{
        margin-top: 50px;
    }
    .containerDis{
        height: 100vh;
    }
    

}