.bookmain{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.bkbtn{
    display:flex;
    flex-direction: column;
}
.bIn{
    margin: 10px;
    height: 10%;
}
.dis h2{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}
h3{
    display: flex;
    justify-content: center;}
h5{
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.bookbtn{
    height: 40px;
    width: 120px;
    margin: 20px;
    border-radius: 20px;
    background: #fff;
    color:#000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    cursor: pointer;
    border: solid 1px #000;
}
.bookbtn:hover{
    background: #000;
    color: #fff;
    border: solid 1px #000;
}


.hpic{
    border-radius: 20px;
}

@media (max-width: 800px) {

    .bookmain{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .rigth{
        margin: 30px;
    }
    .room{
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    .icon{
        display: flex;
    }
}