.contactmain{
    width:100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 85vh;
    background: #fff;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.contact h2{
    color: #242424;
    
}
.contactright{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    border-radius: 20px;
    
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}
.contactgif{
    width: 13vw;
    height: 13vw;
    border-radius: 20px;
}
.contactimg{
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
}
.imgh4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.imgh4 h4{
    margin-right: 10px;
}
.input{
    margin: 10px;
}
.textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.say{
    padding: 10px;
    border-radius: 20px;
    width: 25vw;
    height: 20vh;
}
.conbtn{
    display: flex;
    flex-direction: column;
}
.conbtn p{
    background-color: #fff;
}

@media screen and (max-width: 800px) {
    .contactright{
        display: none;
    }
    .contactmain{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    .input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    input{
        margin: 5px;
    }
    .contact{
        width: 80vw;
    }
    h2{
        margin: 5px;
    }
    .bookbtn{
    height: 40px;
    width: 120px;
    margin: 20px;
    margin-top: 0px;

    border-radius: 20px;
    border: none;
    background: #fff;
    color:#000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    cursor: pointer;
    border: solid 1px #000;
    }
    .bookbtn:hover{
    background: #000;
    color: #fff;
    border: solid 1px #000;
    }

}
