.loginmain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
input{
    margin:25px;
    padding : 10px;
    border-radius: 20px;
    border: none;
    font-size: medium;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.login a{
    color: black;
}

.Loginbtn{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background: #fff;
    color:#000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    cursor: pointer;
    border: solid 1px #000;
}
.Loginbtn:hover{
    background: #000;
    color: #fff;
    border: solid 1px #000;
}
.signup a{
    color: #000;
    height: 20px;
    margin: 10px;
}
.signup a:hover{
    color: #fff;
    background: #242424
}

.signupmain{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.signup a{
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.signbtn{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background: #fff;
    color:#000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    cursor: pointer;
    border: solid 1px #000;
}
.signbtn:hover{
    background: #000;
    color: #fff;
    border: solid 1px #000;
}

@media (max-width: 800px) {
    .login{
        width: 100vw;
    }
    .signup{
        width: 100vw;
        height: 80%;
    }
    a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Loginbtn{
       margin: 20px;
    }
    .signbtn{
        margin: 20px;
    }
    .input{
        margin-top: 20px;
    }

    
}